@font-face {
  font-family: b;
  src: url('../fonts/NotoSans-Regular.ttf');
}

.mybtn {
  color: black;
  background-color: white;
  border: 2px solid #454545;
  position: relative;
  margin: 1em .5rem;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: b;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  width: 240px;
  min-width: 50px;
}
.mybtn:before, .mybtn:after {
  content: '';
  display: block;
  position: absolute;
  border-color: black;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
.mybtn:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.mybtn:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.mybtn:hover:before, .mybtn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #ff6f48;
}
.mybtn:hover {
  color: #353535;
  background-color: #fff;
}
.mybtn:active, .mybtn:focus {
  outline: none;
}