@font-face {
	font-family: a;
	src: url('../fonts/Quentin.ttf');
}

@font-face {
	font-family: b;
	src: url('../fonts/NotoSans-Regular.ttf');
}

body {
	font-family: b;
}

a {
	color: white;
}

navbar-brand a img {
	width: 100px;
}

.LineIcon {
	border: 1px solid white;
	padding: 10px;
}

.LineBorder li{
	border: 1px solid white;
	margin-right: 20px;
	margin-left: 15px;
	width: 10vw;
	min-width: 120px;
	max-width: 150px;
	
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    font-size: 0.9em;
}

.navbar-toggler-icon {
	    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

footer {
	background-color: #000;
	height: 100px;
	color: white;
	text-align: center;
	line-height: 100px;
}


.InheritImg {
	width: 100%;
}

.Introduction {
	background-color: #e0e0e0;
}

.w-40 {
	width: 45%;
	margin: 0;
	display: inline-block;
}

.w-60 {
	width: 55%;
	margin: 0;
	display: inline-block;
}

